{# djangomyblog\blog\templates\blog\home.html #}

{% extends "blog/_base.html" %}

{% block title %}Início{% endblock %}

{% block content %}

<h2>Posts Recentes</h2>
<p><small>Ordenados pela data mais recente.</small></p>

{% for post in posts %}
    <article>
        <h3><a href="/view/{{ post.id }}">{{ post.title }}</a></h3>
        <p>{{ post.content|truncatechars:50 }}</p>
        <small>
            Por <a href="/user/{{ post.user.id }}">{{ post.user.username }}</a>
            em {{ post.created_at }} 
        </small>
    </article>
{% endfor %}

{% endblock %}