{# djangomyblog\blog\templates\blog\post_detail.html #}

{% extends "blog/_base.html" %}

{% block title %}Meu Blog - {{ post.title }}{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>
<p>
    <small>
        Por {{ post.user.username }} em {{ post.created_at|date:"d/m/Y à\s H:i" }}
        {% if post.user.id == user.id %}
        <small>
            <a href="{% url 'edit_post' post.id %}" title="Editar Post">✏️</a>
            <a href="{% url 'delete_post' post.id %}" title="Apagar Post" onclick="return confirm('Term certeza que deseja apagar o Post? Isso é irreversível!')">🗑️</a>
        </small>
        {% endif %}
    </small>
</p>
<p>{{ post.content_html|safe }}</p>

<hr>
<hr>

<h3>Comentários</h3>

{# formulário de comentário só aparece se estiver logado #}
{% if user.is_authenticated %}

<form action="{% url 'comment_post' %}" method="post">

    {% csrf_token %}

    <input type="hidden" name="postid" value="{{ post.id }}">
    <textarea name="comment" required minlength="4" placeholder="Deixe seu comentário!"></textarea>
    <div><button type="submit">Enviar</button></div>

</form>

{% else %}

<p style="text-align: center;"><a href="/accounts/login/">Logue-se para comentar!</a></p>

{% endif %}

{% endblock %}

{# Lista todos os cometários deste post #}

{% for comment in comme%}